<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
    <!-- Навигационное меню -->
    <nav style="background-color:#ddd; padding:10px; text-align:center; margin-bottom:20px;">
        <a href="/" style="margin-right:20px;">Главная</a>
        <a href="/readers" style="margin-right:20px;">Посмотреть всех читателей</a>
        <a href="/books/all" style="margin-right:20px;">Посмотреть все книги</a>
        <a href="/add_reader" style="margin-right:20px;">Добавить читателя</a>
        <a href="/add_book">Добавить книгу</a>
    </nav>


    <h1>Добро пожаловать в библиотеку!</h1>
    <p>Выберите пункт меню для дальнейших действий.</p>

</body>
</html>